.page-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #3d3dd8;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: white;
    text-align: center;
    font-size: 5em;
  }

  &__logo {
    margin-top: 70px;
    width: 500px;
    height: 500px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 16px;
  }

  &__item {
    font-size: 1.5em;
    color: white;
  }
}
